@font-face {
  font-family: "czicons";
  src: url(/font/czicons.woff2) format("woff2");
}

.offer {
  width: 100%;
  background-color: var(--main_bg_color);
  padding-top: 270px;
  padding-bottom: 160px;
  margin-bottom: 360px;
  position: relative;
}
.offer_block {
  display: flex;
}
.offer_text,
.offer_list {
  width: 680px;
  padding: 10px;
}
.offer_list {
  display: flex;
}
.offer_list_title {
  color: var(--main_bg_color);
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  padding: 15px 0 20px 0;
}
.offer_list_left {
  z-index: 10;
  background-color: var(--main_color);
  padding: 0 6px 6px 6px;
  border-radius: 25px;
  margin-right: -30px;
  width: 330px;
  height: 540px;
}
.offer_list_left ul {
  padding: 30px 50px 50px 40px;
  background-color: var(--main_bg_color);
  color: var(--base_color);
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  border-radius: 0 0 25px 25px;
}
.offer_list_left li {
  margin-bottom: 25px;
}
.offer_list_left li::before {
  content: "\e8c9";
  font-family: "czicons";
  margin-right: 20px;
  color: var(--main_color);
}

.offer_list_right {
  background-color: var(--base_color);
  padding: 0 6px 6px 6px;
  border-radius: 25px;
  margin: 45px 0;
  width: 290px;
  height: 436px;
}
.offer_list_right ul {
  padding: 30px 50px 50px 70px;
  background-color: var(--main_bg_color);
  color: var(--base_color);
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  border-radius: 0 0 25px 25px;
}
.offer_list_right li {
  margin-bottom: 16px;
}
.offer_overline {
  color: #f1f1f1a1;
  background-color: #221b01;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  margin-top: 10px;
  padding: 10px 40px;
  border-radius: 50px;
  width: fit-content;
}
.offer_title {
  color: var(--base_color);
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  max-width: 460px;
  margin-top: 15px;
  line-height: 1.4;
}
.accent_offer_title {
  color: var(--main_color);
  border-bottom: 4px solid;
}
.offer_information {
  color: #ffffff99;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  max-width: 343px;
  margin-top: 40px;
  line-height: 1.8;
}
.check_out_cars {
  color: var(--text_color);
  font-size: 18px;
  font-weight: 700;
  background-color: var(--main_color);
  border-radius: 100px;
  padding: 22px 35px;
  width: fit-content;
  margin-top: 30px;
}
.svg_offer_list {
  height: 40px;
  background-color: #1c1601;
  display: block;
}
.offer_car {
  position: absolute;
  right: 0;
  top: 600px;
  z-index: 10;
}
.offer_wave {
  position: absolute;
  bottom: -190px;
  height: 200px;
}
